In [1]:
import pandas as pd

In [6]:
# Import the json module.
import json
# Assign the string data to a variable. 
data = "{'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}"
data = data.replace("'", '"')
print(data)

{"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}

In [38]:
# Convert the string data to a dictionary.
converted_data = json.loads(data)

# Iterate through the dictionary (row) and get the values.
row_values = [v for k, v in converted_data.items()]


print(row_values)

[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr']

In [7]:
#I need help solving this skill drill
#Convert string to a dictionary 
#dict_data = {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
#updated_converted_data = dict_data

In [8]:
# Import the regular expression module.
import re
# Assign the string data to a variable.
string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"
# Extract the four digit number.

contact_id = re.findall(r'(\d{4})', string_data)
print(contact_id)

['4661']

In [24]:
# Read the contacts string data into a Pandas DataFrame
contacts_string_df = pd.read_csv("contacts_string_data.csv")
contacts_string_df['contact_id'] = contacts_string_df['contact_info'].str.extract(r'(\d{4})')
contacts_string_df.head()

                                        contact_info contact_id
0  contact_id 4661 name Cecilia Velasco email cec...       4661
1  contact_id 3765 name Mariana Ellis email maria...       3765
2  contact_id 4187 name Sofie Woods email sofie.w...       4187
3  contact_id 4941 name Jeanette Iannotti email j...       4941
4  contact_id 2199 name Samuel Sorgatz email samu...       2199

In [27]:
# Extract the first and last name after the word "name".
name = re.findall(r'([^name\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco', 'il cecilia']

In [28]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco']

In [35]:
# Skill Drill - Extract and Create a new column 8.4.2

In [ ]:
# Extract the email address using a regular expression pattern. 
email_address= re.findall(r'(\S+@\S+)', string_data)
email_address